body {
  margin: 0;
  color: #f0f0f0;
  background-color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.footer {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  left: 0;
  right: 0;
}

h1 {
  justify-content: center;
  position: relative;
}

.chooseFile {
  position: absolute;
  left: 50px;
}

.chooseFile button {
  background-color: #f0f0f0;
  border: 0;
  padding: 5px;
  margin: 4px;
}

.chooseFile button:active {
  background-color: #cfcfcf;
}

.map {
  width: (100vw);
  height: 80vh;
  padding: 1vw;
  position: relative;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 200px;
}

.loader h1 {
  margin-top: 40px;
}

.fire-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 15vw;
  min-height: 15vh;
  padding: 15px;
  background-color: rgba(44, 44, 44, 0.7);
  border-radius: 20px;
  font-size: 18px;
}

.fire-info h2 {
  text-align: center;
  margin-top: 10px;
}

.fire-info ul {
  list-style-type: none;
  padding: 0;
}

.fire-info li {
  padding: 5px 0;
}

.ol-zoom button {
  border: 0;
  transform: translate(0, -1px);
}

.ol-attribution li {
  color: rgb(44, 44, 44);
  font-size: 8px;
  list-style: none;
  transform: translate(-1vw, 73vh);
}

.ol-attribution button {
  display: none;
}

.ol-rotate {
  display: none;
}
